@font-face {
	font-family: 'CatamaranR';
	src: url('../../fonts/Catamaran-Regular.eot');
	src: url('../../fonts/Catamaran-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/Catamaran-Regular.woff2') format('woff2'),
		 url('../../fonts/Catamaran-Regular.woff') format('woff'),
		 url('../../fonts/Catamaran-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}