* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: 0;
   border: 0;
   text-decoration: none;
   list-style-type: none;
	font-size: 12px;
	// font-family: 'CatamaranR';
}

a {
	font-size: 15px;
	color: #080808;
}